<html>
<head>
  <link href="../stylesheets/style.css" type="text/css" rel="stylesheet"></link>
  <script src="js/jquery-3.1.1.min.js"></script>
  <script>
    $(function(){
      $("#btnCurrent").click(function(){
          $.ajax({
            url:"/currDate",
            type:'GET',
            success:function(data){
              var result = data.list;
              if(result==""){
                var cc="";
                cc +='<tr>'+'<td colspan=6>'+'没有该天数据!'+'</td>'+'</tr>';
                $('#numbody').html(cc);
              }else {
                var htmlStr="";
                    for(var i=0;i<result.length;i++){
                      if(i%2==0){
                        htmlStr +='<tr class="odd">'+'<td>'+result[i].applies.name+'</td>'+
                                  '<td>'+result[i].applies.tel+'</td>'+
                                  '<td>'+result[i].applies.province+'</td>'+
                                  '<td>'+result[i].applies.city+'</td>'+
                                  '<td>'+result[i].applies.detail+'</td>'+
                                  '<td>'+result[i].applies.time+'</td>'+'</tr>';
                      }else{
                        htmlStr +='<tr class="even">'+'<td>'+result[i].applies.name+'</td>'+
                                  '<td>'+result[i].applies.tel+'</td>'+
                                  '<td>'+result[i].applies.province+'</td>'+
                                  '<td>'+result[i].applies.city+'</td>'+
                                  '<td>'+result[i].applies.detail+'</td>'+
                                  '<td>'+result[i].applies.time+'</td>'+'</tr>';
                      }
                      $('#numbody').html(htmlStr);
                  }
              }

            }
          })
      })

      $("#btnAll").click(function(){
          $.ajax({
            url:"/allDate",
            type:'GET',
            success:function(data){
              var resultall = data.listall;
              var htmlStr2="";
                for(var i=0;i<resultall.length;i++){
                  if(i%2==0){
                    htmlStr2 +='<tr class="odd">'+'<td>'+resultall[i].applies.name+'</td>'+
                               '<td>'+resultall[i].applies.tel+'</td>'+
                               '<td>'+resultall[i].applies.province+'</td>'+
                               '<td>'+resultall[i].applies.city+'</td>'+
                               '<td>'+resultall[i].applies.detail+'</td>'+
                               '<td>'+resultall[i].applies.time+'</td>'+'</tr>';
                  }else{
                    htmlStr2 +='<tr class="even">'+'<td>'+resultall[i].applies.name+'</td>'+
                               '<td>'+resultall[i].applies.tel+'</td>'+
                               '<td>'+resultall[i].applies.province+'</td>'+
                               '<td>'+resultall[i].applies.city+'</td>'+
                               '<td>'+resultall[i].applies.detail+'</td>'+
                               '<td>'+resultall[i].applies.time+'</td>'+'</tr>';
                  }

                $('#numbody').html(htmlStr2);
              }
            }
          })
      })
    })
  </script>
</head>
<body>
  <div style="width:100%">
    <div style="width:100%;display:flex;flex-direction:row;justify-content:center;align-items:center;">
    <div>
        <input type="button" id="btnCurrent" value="当天数据" name="numCurrent"/>
    </div>
    <div style="margin-left:100px;">
        <input type="button" id="btnAll" value="所有数据" name="numAll"/>
    </div>
</div>
<table class="t" align="center">
  <thead>
    <tr>
      <th>姓名</th>
      <th>手机</th>
      <th>所在省</th>
      <th>所在市</th>
      <th>详细地址</th>
      <th>日期</th>
    </tr>
  </thead>
  <tbody id="numbody">
    <%if(datas.length<=0){%>
       <tr><td colspan=6>没有该天数据!</td></tr>
       <%}else{%>
    <%for(var i=0;i<datas.length;i++){%>
       <%if(i%2==0){%>
        <tr class="odd">
          <td><%=datas[i].applies.name%></td>
          <td><%=datas[i].applies.tel%></td>
          <td><%=datas[i].applies.province%></td>
          <td><%=datas[i].applies.city%></td>
          <td><%=datas[i].applies.detail%></td>
          <td><%=datas[i].applies.time%></td>
        </tr>
       <%}else{%>
    <tr class="even">
      <td><%=datas[i].applies.name%></td>
      <td><%=datas[i].applies.tel%></td>
      <td><%=datas[i].applies.province%></td>
      <td><%=datas[i].applies.city%></td>
      <td><%=datas[i].applies.detail%></td>
      <td><%=datas[i].applies.time%></td>
    </tr>
    <%}%>
    <%}%>
    <%}%>
  </tbody>
</table>
  </div>
</body>

</html>
